MODEL:
  WEIGHTS: ''
ibot:
  separate_head: true
train:
  batch_size_per_gpu: 2
  # dataset_path: ImageNet:split=TRAIN
  centering: sinkhorn_knopp
dataset:
  data_root: ./samples
  num_channels: 19
  num_patches_per_channel: 30
  patch_time_dim: 250  # sampling rate 250Hz -> 1s patches
  # local_crop_channels: 10
student:
  arch: vit_base
  pretrained_weights: ''
  # patch_size: 14
  # patch_time_dim: 250  # sampling rate 250Hz -> 1s patches
  drop_path_rate: 0.4
  num_register_tokens: 4
  ffn_layer: mlp # it is used in checkpoint from torch hub
  block_chunks: 0
teacher:
  momentum_teacher: 0.994
  warmup_teacher_temp_epochs: 60
optim:
  epochs: 200
  weight_decay_end: 0.2
  base_lr: 4.0e-04  # learning rate for a batch size of 1024
  warmup_epochs: 60
  layerwise_decay: 1.0
crops:
  # global_crops_size: 518
  # local_crops_size: 224
  local_crop_size_channels: 10
  local_crop_size_patches: 15
evaluation:
  eval_period_iterations: 1000